@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
  margin: 0;
  padding:0;
  font-family:'Raleway', Arial;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

header{
  width:60%;
  display:flex;
  padding:100px 0 100px 0;
  justify-content:space-between;
  margin: 0 auto;
  align-items: center;
}
header h1{
  font-family: 'Nanum Pen Script';
    font-size: 52px;
}
header .header-right{
  display:flex;
  align-items:center;
}

.header-right a{
  padding-left:5px;
}

/* container code */

#image-container{
  width:60%;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

.normal-image{
  max-width:50%;
}

.portrait{
  max-width:25%;
}

.portrait-companion{
  max-width:75%;
}

.longer-image{
  width:100%;
}

img{
  padding:5px;
  border-radius:15px;
}

#myBtn {
  display: none;
  position: fixed;
  width:45px;
  height:45px;
  
  text-align: center;
  bottom: 45px;
  right: 45px;
  z-index: 99;
  
  cursor: pointer;
  
  background-color: white;
  border:none;
  border:1px solid gray;
  outline:none;
}

footer{
  text-align:center;
  padding:150px;
  margin-top:50px;
  background-color:rgb(15,15,20);
  color:gray;
}

@media (max-width:500px){
  header{
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  header .header-right{
    margin-top:35px;
  }
  
  #image-container{
    width:80%;
  }

  .row{
    display:flex;
    flex-direction:column;
  }

  .normal-image{
    max-width:100%;
  }

  .portrait{
    max-width:100%;
  }

  .portrait-companion{
    max-width:100%;
  }
  #myBtn{
    bottom:20px;
    right:20px;
  }
}
