@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

.main-container{
    width:90%;
    margin: 0 auto;
    margin-top:5%;
}

.header1{
    font-family: 'Nanum Pen Script';
    font-size: 60px;
    padding:0;
    margin:0;
}

p{
    margin:0;
    padding:0;
}

.header-left{
    width:33%;
    float:left;
}

.header-right{
    width:33%;
    float:right;
    text-align: right;
}

ul{
    text-align:center;
}
li{
    display: inline;
    margin-left:35px;
}

li:hover{
    cursor: pointer;
    border-bottom:1px solid black;
}

img{
    margin:0;
    padding:0;
}

.portfolio{
    width:100%;
    padding-top:10%;
    display:grid;
    grid-gap: 1px;
    grid-template-areas: 
    'img-1 img-1 img-1 img-1 img-2 img-2 img-2 img-2'
    'img-3 img-3 img-3 img-3 img-3 img-3 img-3 img-3'
    'img-4 img-4 img-4 img-4 img-4 img-4 img-5 img-5'
    'img-6 img-6 img-7 img-7 img-7 img-7 img-7 img-7'
    'img-9 img-9 img-9 img-9 img-8 img-8 img-8 img-8'
    'img-17 img-17 img-17 img-17 img-17 img-17 img-17 img-17'
    'img-11 img-11 img-11 img-11 img-12 img-12 img-12 img-12'
    'img-13 img-13 img-13 img-13 img-13 img-13 img-13 img-13';
}

.img-1{
    grid-area: img-1;
    max-height: 650px;
}

.img-2{
    grid-area: img-2;
    max-height: 650px;
}

.img-3{
    grid-area: img-3;
    max-height:600px;
}

.img-4{
    grid-area: img-4;
    max-height: 800px;
}

.img-5{
    grid-area: img-5;
    max-height: 800px;
}

.img-6{
    grid-area:img-6;
    max-height: 800px;
}

.img-7{
    grid-area: img-7;
    max-height: 800px;  
}

.img-8{
    grid-area: img-8;
    max-height: 650px;
}

.img-9{
    grid-area: img-9;
    max-height: 650px;
}

.img-10{
    grid-area: img-10;
}

.img-11{
    grid-area: img-11;
    max-height: 650px;
}

.img-12{
    grid-area:img-12;
    max-height: 650px;
}

.img-13{
    grid-area: img-13;
    max-height:1080px;
}

.img-17{
    grid-area:img-17;
    max-height:1000px;
}    


#myBtn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border:1px solid gray;
  }

footer{
    background-color:rgb(10,10,15);
    color:rgb(255, 255, 255);
    padding:0;
    margin:0;
    padding:65px;
    margin-top:250px;
    text-align: center;
}

@media screen and (max-width:992px) {
    .header1{
        font-size:50px;
    }
    li{
        display:inline;
        margin-left: 20px;
    }
}

@media screen and (max-width:600px){
    *{
        margin:0;
        padding:0;
    }
    .portfolio{
        display:grid;
        grid-template-areas: 'img-1'
        'img-2'
        'img-3'
        'img-4'
        'img-5'
        'img-6'
        'img-7'
        'img-8'
        'img-9'
        'img-10'
        'img-11'
        'img-12'
        'img-13'
        'img-14'
        'img-15'
        'img-16'
        'img-17';
        grid-gap:1px;
    }

    li{
        display: block;
        margin-left:10px;
        padding:0;
        margin-bottom:5px;
    }

    li:hover{
        border:0;
    }
    li:active{
        color:blue;
    }

    .header1{
        font-size:45px;
        margin-bottom:10px;
    }
}

